<div data-controller="posts" class="gap-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 p-6">
  <% @posts.each do |post| %>
    <% next if post.nil? %>
    <div data-posts-target="fade" class="flex flex-col justify-between gap-2 sm:gap-0 opacity-0 shadow-md p-4 rounded-lg max-w-sm sm:max-w-sm h-[300px] h-[340px] font-sans transition-all translate-y-6 duration-500 post-card">
      <div class="flex flex-row justify-between items-center mb-2">
        <p class="font-mono text-[10px] sm:text-xs date-p">
          <%= post.published_at.strftime("%d/%m/%Y") if post.published_at %>
        </p>
        <div class="bg-white px-2 py-1 rounded w-fit font-mono text-[8px] sm:text-[10px] category-tag">
          <%= t("articles.#{post.slug}.category", default: post.category.capitalize) %>
        </div>
      </div>
      <h2 class="font-mono text-sm sm:text-lg">
        <%= t("articles.#{post.slug}.title", default: post.title) %>
      </h2>
      <p class="mt-2 h-auto text-xs line-clamp-4">
        <%= t("articles.#{post.slug}.description", default: post.description) %>
      </p>
      <%= render "shared/arrowbutton", text: "Leer el articulo completo", path: post_path(post.slug), show_icon: true, extra_classes: "" %>
    </div>
  <% end %>
</div>